body {
	font-family: verdana;
	font-size: 12px;
	color: #5A5757;
}

img {
	border-style: none;
}

#blog {
	margin: 20px;
}

#blog .comment_input {
	float: left;
}

.comment_error {
	margin-left: 98px;
	color: red;
	line-height: 18px;
}

#blog .add_comment_button {
	margin-bottom: 20px;
	margin-left: 20px;
}

#blog .comment {
	margin-bottom: 10px;
}

#blog .comment_date {
	padding-right: 10px;
	color: #AAAAAA;
}

#blog #add_entry {
	border-color: #5A5757;
	border-width: 1px;
	border-style: solid;
	width: 500px;
	padding: 20px;
	margin-bottom: 30px;
	background-color: #F9F9F9;
}

#blog #add_entry_message {
	float: left;
}

#blog .entry_message {
	padding-left: 95px;
	line-height: 18px;
}

#blog #add_entry_button {
	padding-bottom: 15px;
	padding-top: 5px;	
}

#blog #add_entry input {
	margin-left: 20px;
	margin-right: 20px;
}

#blog #entries {
	border-color: #5A5757;
	border-width: 1px;
	border-style: solid;
	width: 500px;
	padding: 20px;
	margin-bottom: 30px;
}

#blog #error_entry {
	color: red;
	margin-left: 140px;
}

#blog .entry_date {
	float: left;
	padding-right: 20px;
	color: #AAAAAA;
}

#blog .entry {
	padding-bottom: 20px;
}

#blog .entry_comments {
	padding-top: 10px;
}

#blog .comment_date {
	float: left;
	padding-left: 93px;
}

#blog .comment_message {
	margin-left: 180px;
	line-height: 18px;
}

#blog .add_comment {
	padding-left: 93px;
}